body {
    background-color: #E0F0F5;
}

.quotes-table {
    border-top: 1px solid black;
}

.quotes-table .table-header {
    font-weight: bold;
}

.quotes-table .table-body {

}

.fas.fa-sort-alpha-up, .fas.fa-sort-alpha-down {
    color: dimgrey;
}

.fas.fa-sort-alpha-up:hover, .fas.fa-sort-alpha-down:hover {
    cursor: pointer;
}

.authorName {
    color: lightskyblue;
}

.quotes-pagination {
    width: fit-content;
    border: 1px solid black;
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
}

.quotes-pagination a {
    margin-right: 10px;
    color: black;
    text-decoration: none;
}

.quotes-pagination a:last-child {
    margin-right: 0;
}

.quotes-pagination a.active {
    color: deepskyblue;
    font-weight: bold;
    text-decoration: underline;
}

.potential-duplicates-warning {
    margin: 10px;
    border: 1px solid red;
    border-radius: 10px;
}

.potential-duplicates-warning {

}

.btn.btn-primary {
    border-color: black;
    background-color: deepskyblue;
}

.btn.btn-outline-primary {
    border-color: deepskyblue;
    color: deepskyblue;
}

.btn.btn-outline-primary:hover {
    background-color: inherit;
}
