<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Administration des citations</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}"/>
    <!--<link rel="stylesheet" th:href="@{/css/import-quotes.css}"/>-->
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.js}"></script>
    <!--<script type="text/javascript" th:src="@{/javascript/import-quotes.js}" defer></script>-->
</head>

<body>

<div class="container-fluid">

    <h1>Import en masse de citations</h1>

    <form method="post" th:action="@{/admin/import-quotes}" enctype="multipart/form-data">
        <div class="form-group mb-2">
            <input type="file" name="file" class="form-control-file">
        </div>
        <button type="submit" class="btn btn-sm btn-primary">Démarrer l'import des citations</button>
    </form>

</div>

</body>

</html>
