<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Administration des citations</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}"/>
    <link rel="stylesheet" th:href="@{/css/manage-quotes.css}"/>
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.js}"></script>
    <script type="text/javascript" th:src="@{/javascript/manage-quotes.js}" defer></script>
</head>

<body th:onload="initAuthorSort([[ ${initialAuthorSort} ]])">

<div class="container-fluid">

    <!-- Table of all quotes -->

    <div class="row mb-3">
        <div th:switch="${quotes}" class="col-12">
            <p th:case="null">Il n'y a aucune citation</p>
            <div th:case="*">
                <h2 class="mt-3 mb-3">Citations</h2>

                <div class="table quotes-table">

                    <div class="row table-header">
                        <div class="col-2">
                            Auteur
                            <span id="authorAscSortButton"><i th:onclick="sortByAuthor('asc')" class="fas fa-sort-alpha-down" title="Trier par nom d'auteur croissant"></i></span>
                            <span id="authorDescSortButton"><i th:onclick="sortByAuthor('desc')" class="fas fa-sort-alpha-up" title="Trier par nom d'auteur décroissant"></i></span>
                        </div>
                        <div class="col-6">Citation</div>
                        <div class="col-2">Issu de</div>
                        <div class="col-2"></div> <!-- actions column -->
                    </div>

                    <div class="table-body">
                        <div th:each="quote : ${quotes}" class="row">
                            <div class="col-2">
                                <input th:id="'quote_' + ${quote.id} + '_author'" th:value="${quote.author}" class="form-control form-control-sm authorName" />
                            </div>
                            <div class="col-6">
                                <textarea th:id="'quote_' + ${quote.id} + '_text'" th:text="${quote.text}" class="form-control form-control-sm" rows="1"></textarea>
                            </div>
                            <div class="col-2">
                                <input th:id="'quote_' + ${quote.id} + '_from'" th:value="${quote.from}" class="form-control form-control-sm fst-italic text-decoration-underline" />
                            </div>
                            <div class="col-2">
                                <button th:onclick="updateQuote([[ ${quote.id} ]])" class="btn btn-sm btn-outline-primary" title="Mettre à jour">
                                    <i class="fas fa-save"></i>
                                </button>
                                <button th:onclick="removeQuote([[ ${quote.id} ]])" class="btn btn-sm btn-outline-secondary" title="Supprimer">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </div>  <!-- actions column -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Form to add a new quote -->

    <div class="row mb-3">
        <div class="col-12">
            <h2 class="mb-3">Ajouter une nouvelle citation</h2>
            <form th:action="@{/admin/add-quote}" th:object="${newQuoteDto}" method="post">
                <div class="row mb-2">
                    <div class="col-2">
                        <input type="text" th:field="*{author}" placeholder="Auteur" class="form-control form-control-sm" />
                    </div>
                    <div class="col-6">
                        <textarea th:field="*{text}" placeholder="Citation" class="form-control form-control-sm" rows="1"></textarea>
                    </div>
                    <div class="col-2">
                        <input type="text" th:field="*{from}" placeholder="Issu de (titre de l'oeuvre)" class="form-control form-control-sm" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-1">
                        <input type="submit" value="Ajouter la citation" class="btn btn-sm btn-primary">
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Form to export all quotes to CSV -->

    <div class="row mb-">
        <div class="col-12">
            <h2 class="mb-3">Exporter les citations</h2>
            <form th:action="@{/admin/export-csv}" method="post">
                <input type="submit" value="Export CSV" class="btn btn-sm btn-primary">
            </form>
        </div>
    </div>

</div>

</body>

</html>
